body{
    background: url(/assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    height: 500px;
    width: 770px;
    background-color: #937BCA;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;

}

#container header{
    color: white;
    padding: 40px;
    font-size: 21px;

}

.name{
    width: 170px;
    height: 40px;
    margin: 6px;
    background: rgba(82, 80, 119, 0.7);
    border-radius: 9px;
    border: none;

}

.textbox{
    width: 360px;
    height: 40px;
    margin-top: 10px;
    background: rgba(82, 80, 119, 0.7);
    border-radius: 9px;
    border: none;
}

.form{
    height: 200px;
    width: 100%;    
}

.form input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 20px;
    width: 15px;
    height: 15px;
}

.form label {
    font-size: 15px;
    color: white;
}

