body{
    background: url(/assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    padding: 5px;
}

#container {
    height: 550px;
    width: 620px;
    background-color: #937BCA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;

}

#container header{
    color: white;
    padding: 40px;
    font-size: 21px;

}

.name{
    width: 189px;
    height: 43px;
    margin: 6px;
    background: rgba(82, 80, 119, 0.7);
    border-radius: 7px;
    border: none;

}

.textbox{
    width: 398px;
    height: 43px;
    margin-top: 10px;
    background: rgba(82, 80, 119, 0.7);
    border-radius: 7px;
    border: none;
}



.form{
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;    
}

::placeholder {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.TermOfUse input {
    display: none;
}

.TermOfUse input + label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #525077;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.TermOfUse {
    margin-top: 15px;
    margin-right: 220px;
}

.TermOfUse label {
    font-size: 13px;
    color: white;
}

.TermOfUse input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}

#btnSignUp{
    margin-top: 25px;
    width: 105px;
    height: 32px;
    border: none;
    border-radius: 30px;
    background-color: #FDBE37;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    
}

